extends layout

block content
  h1 dblist
  ul
    each item in items
      li
        span= item.id
        span :
        span= item.name
        span |
        span: a(href='./update?id=#{item.id}') [edit]